*{
    padding: 0%;
    margin: 0%;
    font-family: sans-serif;
}
.medsos{
    padding: 30px 0;
	background-color: grey;
}
header{
    color: black;
    padding: 70px;
}
header h1{
    float: left;
    padding: 0px 0;
    color: rgb(0, 0, 0);
}
header ul{
    color: black;
    float: right;
}
header ul li{
    color: black;
    display: inline-block;
}
header ul li a{
    color: black;
    padding: 26px 20px;
    display: inline-block;
}
header ul li a:hover{
    background-color: grey;
    color:black;
}
.active{
     background-color: grey;
    color: white;
}
.banner{
    height: 100vh;
    background-image: url(../Img/bck1.webp);
    background-size: cover;
    position: relative;
    display: flex;
    justify-content: center;
}
.banner after{
    content: " ";
    display: block;
    position: absolute;
    top: 0%;
    right: 0%;
    left: 0%;
    bottom: 0%;
    background-color: dimgrey;
}   
section{
    padding: 50px 0;
}
section h4{
    text-align: center;
    padding: 20px 0;
    color: black;
}
.product{
    background-color: white;
}
section h3{
    text-align: center;
    padding: 20px 0;
    color: black;
}
.about p{
    color: black;
    text-align: center;
    word-spacing: 2px;
    line-height: 25px;
}
footer{
    padding: 30px 0;
    background-color: grey;
    color: honeydew;
}
.box .col-3{
    border: 1px solid;
    width: 25%;
    padding: 20px;
    box-sizing: border-box;
}

box h5{
    text-align: center;
}